<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>cntrlLogin</servlet-name>
        <servlet-class>com.freesoftDevPeru.Controllers.cntrlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CntrlSalirLogin</servlet-name>
        <servlet-class>com.freesoftDevPeru.Controllers.CntrlSalirLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CntrlDocumentosEnviados</servlet-name>
        <servlet-class>com.freesoftDevPeru.Controllers.CntrlDocumentosEnviados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contrlBuscarDocumento</servlet-name>
        <servlet-class>com.freesoftDevPeru.Controllers.contrlBuscarDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ctnrlDocumentosRecibidos</servlet-name>
        <servlet-class>com.freesoftDevPeru.Controllers.ctnrlDocumentosRecibidos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cntrlLogin</servlet-name>
        <url-pattern>/cntrlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CntrlSalirLogin</servlet-name>
        <url-pattern>/CntrlSalirLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CntrlDocumentosEnviados</servlet-name>
        <url-pattern>/CntrlDocumentosEnviados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contrlBuscarDocumento</servlet-name>
        <url-pattern>/contrlBuscarDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ctnrlDocumentosRecibidos</servlet-name>
        <url-pattern>/ctnrlDocumentosRecibidos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
